/* { border: 1px solid red; }*/
* { box-sizing; border-box; }
.about.container-fluid {
	width: 100%;
	background-image: url("../img/about-cube1.jpg");
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 572.781px;
	max-width: 1070px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 5px;
}
.about.container-fluid h1 {
	text-align: center;
}
.about-page-pic {
	background-image: url("../img/about-garden.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	width: 100%;
	height: 500px;
	margin-bottom: 25px;
}
.about-page-pic-text {
	float: right;
	text-align: right;
	display: block;
	padding-top: 140px;
	padding-bottom: 150px;
	padding-right: 200px;
	padding-left: 60px;
	font-size: 3em;
	color: #000;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
	opacity: 0.9;
	height: 400px;
	width: 970px;
}

.about #about-row {
	margin-bottom: 5%;
}
.about .image {
	display: inline-block;
	float: left;
	width: 100%;
	height: 214px;
}
.about img {
	/*border: 10px solid #000;*/
	border-radius: 50%;
	max-width: 250px;
}
.about .img-responsive {
	max-height: 315px;
	margin: auto;
}
.about .intro-column {
	display: block;
	width: 100%;
	border: solid 4px #f6f6f6;
	padding: 20px 20px 20px;
}
.about .intro h1 {
	font-size: 2em;
	font-family: 'Rock Salt', Optima, Arial, sans-serif;
	color: #FFF;
	padding-left: 0px;
}
.about .about-main-text {
	margin-top: 25px;
	clear: both;
	background-color: #FFF;
	opacity: 0.7;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 4%;
}
.about .about-main-text h3 {
	font-size: 40px;
	font-weight: normal;
	color: #484848;
}
.about .skills {
	display: inline-block;
	float: right;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 45px;
	padding-right: 45px;
	margin: auto;
	color: #484848;
	background-color: #FFF;
	opacity:0.7;
}
.about .skills h3 {
	margin-bottom: 10%;
}
.learn-more {
	text-align: left;
	float: left;
	padding-left: 2%;
	margin-top: 2%;
}
.modal-button {
	float: right;
	margin-top: 2%;
	padding-right: 2%;
}
.modal-body {
	height: 700px;
}
#modalframe {
	width: 100%;
	height: 68%;
	margin-top: 1%;
}
#myModalLabel {
	width: 80%;
}
.about #services-table {
	width: 100%;
	background-color: #A4A7A7;
	opacity: 0.8;
	/*margin-left: 10%;*/
	margin-top: 2%;
	color: #000;
	font-family: calibri;
}
.about #services-table th { /*for other styling see scripts.js*/
	/*padding-left: 12%;*/
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	width: 33%;
}
.about .my-row #header {
	font-size: 1.25em;
	font-style: italic;
}
.about #header-row {
	background-color: #75a8b4;
}
.about #column-1 {
	background-color: #75a8b4;
}

/*Typography*/

.about h1,
.about h2,
.about h3 {
	font-family: Optima, Calibri, Arial, sans-serif;
	color: #FFF;
}
.about h1 {
	padding-left: 10px;
}
.about p,
.about li {
	font-family: Optima, Calibri, Arial, sans-serif;
}
.about .intro p {
	font-size: 1.1em;
	font-weight: 100;
	-webkit-margin-before: 0;
}
.about .skills h3 {
	text-align: center;
	text-transform: uppercase;
}
.about #skills_list {
	margin-left: 0px;
}
.about #profile-pic {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

/*Typography end*/

@media screen and (max-width: 767px) {
	.about {
		width: auto;
		padding: 0%;
	}
	.about.container-fluid {
		width: auto;
		padding: 0px;
		padding-top: 30px;
	}
	.about .header h1 {
		font-size: 3em;
		margin-left: 5%;
		margin-bottom: 0%;
	}
	.about .skills {
		font-size: 1em;
		text-align: left;
		margin-left: 0px;
		padding-left: 5px;
		padding-right: 0px;
		margin-right: 0px;
	}
	.about #skills_list {
		margin-right: 0px;
		width: 210%;
	}
	.about .skills h3 {
		text-align: center;
	}
	.about .intro h1 {
		font-size: 1em;
		margin-left: 5%;
	}
	.about .about-main-text h3 {
		font-size: 2em;
	}
	.about .image {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 0%;
		width: auto;
	}
	.about .intro p {
		margin-left: 5%;
	}
	.modal-button {
		margin-right: 5%;
		padding-bottom: 2%;
	}
	.learn-more {
		margin-left: 5%;
		padding-top: 3%;
	}
}
@media (min-width: 480px) and (max-width: 991px) {
	.about .image {
		margin-bottom: 60px;
	}
	.skills {
		margin-left: 50px;
	}
}
@media screen and (max-width: 480px) {
	.about-page-pic {
		background-size: 450px;
	    background-position: center;
	    width: 100%;
	    height: 300px;
	}	
	.about .skills {
		padding-left: 40px;
	}
	.about .about-main-text {
		padding-top: 7.5%;
	}
}
@media (min-width: 300px) and (max-width: 400px) {
	.about.container-fluid {
		height: 350px;
		padding-top: 80px;
	}
	.about.container-fluid h1 {
		font-size: 3em;
		padding-top: 25px;
	}
	.about-page-pic {
		background-size: cover;
	    background-position: center;
	    width: 100%;
	    height: 150px;
	}	
	.about .skills {
		padding-left: 40px;
	}
	.about-intro-text {
		font-size: 1.5em;
	}
	.intro-column p {
		font-size: 1em;
	}
	.skills h2 {
		font-size: 1.25em;
	}
	.skills li {
		font-size: 0.75em;
	}
	.about img {
		max-width: 175px;
	}
}