/* { border: 1px solid red; }*/
* { box-sizing; border-box; }
.container-fluid.contact {
	width: 100%;
	background-image: url("../img/contact-photo-wide.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 572.781px;
	max-width: 1070px;
	padding-left: 0px;
	padding-right: 0px;
}
.contact-page-pic {
	background-image: url("../img/contact-photo-wide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	margin-bottom: 50px;
}
.contact .contact-main-text p {
	margin-left: 10%;
	margin-bottom: 3%;
	font-size: 1.5em;
	text-align: left;
	color: #565656;
	opacity: 0.7;
}
.contact .contact-main-text h1 {
	font-size: 1.75em;
}
.form-control {
	width: 100%;
}
.contact .User-text {
	color: #FFF;
}
/*.google-map {
	margin-left: 10%;
}*/ /*used for embedded google map*/
button {
	margin-top: 3%;
}
textarea {
	margin-bottom: 0%;
}
@media screen and (max-width: 767px) {
	.contact {
		width: 100%;
	}
	.contact.container-fluid {
		width: auto;
		padding: 0%;
		padding-top: 100px;
	}
	.contact h1 {
		font-size: 3em;
		width: 100%;
		font-weight: 100;
		margin-top: 2%;
	}
	.contact .header h1 {
		padding-left: 0%;
	}
	.contact .contact-main-text p {
		font-size: 1em;
		margin-left: 5%;
		padding-left: 0%;
	}
	.form-control {
		width: 80%;
		margin-left: 10%;
	}
	button {
		margin-left: 10%;
	}
	.map {
		width: 90%;
		margin-bottom: 10%;
		margin-top: 10%;
		margin-right: 15px;
		margin-left: 15px;
	}
}
@media screen and (max-width: 480px) {
	.contact.container-fluid {
		background-size: 550px;
		background-position: center;
	}
	.contact-page-pic {
		height: 300px;
	}
}
@media (min-width: 300px) and (max-width: 400px) {
	.contact.container-fluid {
		height: 350px;
		padding-top: 80px;
		background-size: 350px;
	}
	.contact.container-fluid h1 {
		font-size: 3em;
		padding-top: 25px;
	}
	.contact-page-pic {
		background-size: cover;
	    background-position: center bottom;
	    width: 100%;
	    height: 150px;
	}	
}