.topContent {
	border: none;
	margin-top: 8%;
}

.topContent h2 {
	font-family: 'Poiret One', arial;
	color: #e56038;
	margin-bottom: 10%
}

#my-work.row {
	margin-top: 5%;
}

.bottomContent, #whiteleyContent, #farfieldContent, #javaScriptContent, #gitHubContent, #MTDContent {
	height: 350px;
}

#MTD.image-wrapper .image-overlay .content {
	color: #000;
}

#whiteley.image-wrapper {
	background-image: url('../img/shopicon.jpg');
}

#farfield.image-wrapper {
	background-image: url("../img/Farfield boxers 2.png");
}

#javaScript.image-wrapper {
	background-color: #000;
	text-align: center;
}

#gitHub.image-wrapper {
	background-color: #60b044;
	text-align: center;
	border: solid 1px;
}

#MTD.image-wrapper {
	background-image: url("../img/MTD_logo.png");
	color: #000;
}

#whiteley, #farfield, #MTD.image-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: solid 1px #000;
	border-radius: 50%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

#javaScript.image-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	white-space: nowrap;
}

#javaScript.image-wrapper .image-overlay .content {
	margin-top: -15px;
}

/*media queries */

@media screen and (min-width: 150px) and (max-width: 397px) {
	.bottomContent, #whiteleyContent, #farfieldContent, #javaScriptContent, #comingSoonContent {
	height: 300px;
}
}


