.topContent {
	border: none;
	margin-top: 5%;
}

#my-work.row {
	margin-top: 5%;
}

.bottomContent, #whiteleyContent, #farfieldContent, #javaScriptContent, #gitHubContent, #MTDContent {
	height: 350px;
}

#MTD, #whiteley, #farfield, #gitHub, #javaScript.image-wrapper {
	position: relative;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

#MTD.image-wrapper .image-overlay .content {
	color: #000;
}


#whiteley.image-wrapper {
	background-image: url('../img/shopicon.jpg');
	z-index: 0;
	position: relative;
}

#farfield.image-wrapper {
	background-image: url("../img/Farfield boxers 2.png");
}

#gitHub.image-wrapper {
	background-color: #60b044;
	border: solid 1px;
}

#MTD.image-wrapper {
	background-image: url("../img/MTD_logo.png");
	color: #000;
}

#whiteley, #farfield, #MTD.image-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: solid 1px #000;
	border-radius: 0%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

}

#gitHub, #javaScript.image-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	white-space: nowrap;
	border-radius: 0;
	background-color: #000;
	text-align: center;
	color: #FFF;
}

#javaScript.image-wrapper .image-overlay .content {
	color: #FFF;
}

#javaScript.image-wrapper .image-overlay .content {
	margin-top: -15px;
}

/*media queries */

@media screen and (min-width: 150px) and (max-width: 397px) {
	.bottomContent, #whiteleyContent, #farfieldContent, #javaScriptContent, #comingSoonContent, #MTDContent, #gitHubContent {
		height: 320px;
	}

	#MTD, #whiteley, #farfield, #gitHub, #javaScript.image-wrapper {
		height: 280px;
		width: 280px;
	}
}


